@charset "utf-8";

/* CSS Document */

body{
	background-color:#212121;
	margin:0 auto;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	}	

html{background-color:#000000;}	
a, a:hover, a:focus {
    color: #FF0000;
}
.margin0{margin:0 !important;}
.padding0{padding:0 !important;}	
.margintop10{margin-top:10px !important;}		
.margintop20{margin-top:20px !important;}
.margintop30{margin-top:30px !important;}	
.marginbottom10{margin-bottom:10px!important;}		
.marginbottom20{margin-bottom:20px!important;}
.marginbottom30{margin-bottom:30px !important;}
.margintop_10{margin-top:10% !important;}	
.margin-left10{margin-left:10px !important;}	
.paddingtop10 {padding-top:10px !important;}	
.paddingtop20 {padding-top:20px !important;}	
.paddingtop30 {padding-top:30px !important;}
.paddingbottom10 {padding-bottom:10px !important;}	
.paddingbottom20 {padding-bottom:20px !important;}		
.paddingbottom30 {padding-bottom:30px !important;}	
.padding-all{padding:30px 80px !important;}	
.paddingleft20 {padding-left:20px !important;}	
.w80{width:80% !important;}	
.w60{width:60% !important;}
.s38{font-size:38px; line-height:38px}
.s35{font-size:35px; line-height:35px}
.s30{font-size:30px; line-height:30px}
.s28{font-size:28px; line-height:28px}
.s26{font-size:26px; line-height:26px}
.s24{font-size:24px; line-height:24px}
.s22{font-size:22px; line-height:22px}
.s20{font-size:20px; line-height:22px}
.s18{font-size:18px; line-height:20px}
.s16{font-size:16px; line-height:18px}
.s15{font-size:15px; line-height:17px}
.s14{font-size:14px; line-height:15px}
.s12{font-size:12px; line-height:13px}
.normal_text{ font-weight:normal !important ;}
.d_b{display:block;}
.d-t{
	display:table;
	width:100%;
	}
.d-tc{display:table-cell;}
.d-ib{display:inline-block;}
.img-pantalla{display:block;}								
.titulo_login {
	font-size:20px;
	color:#FFFFFF;
	text-align:left;
	}
.upper{text-transform:uppercase;}	
.text-red{color:#f21818;}
.text-gray{color:#333333;}	
.text-white{color:#FFFFFF;}
.text-generic{color:#b2b2b2;}	
.white-n{
	white-space:normal !important;
}
.bold{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	}	
.light{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	}

.thin{
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	}
.f10{font-size:10px;}		
.f14{font-size:14px;}
.f15{font-size:15px;}	
.f16{font-size:16px;}	
.f18{font-size:18px;}
.f20{font-size:20px;}	
.f22{font-size:22px;}
.f23{font-size:23px;}	
.f24{font-size:24px;}
.f26{font-size:26px;}		
.f39{font-size:39px;}	
.container-fluid {
    max-width: 1170px;
}
.container_white {
    background-color: #FFFFFF;
    width: 100%;
}
.container_gray {
	background-color:#2d2d2d;
	width:100%;
	}	
.container_gray2 {
	background-color:#151515;
	width:100%;
	}		
.container_black {
	background-color:#000000;
	width:100%;
	}

.container_gray-3{
	background-color:#f5f5f5;
	width:100%;
	}
.bg-gray2{background-color:#E3E3E3;}
.bg-gray{background-color:#CCC;}				

.bg_content_o{
	padding: 40px;
    background-color: rgba(0,0,0,0.5);
    border-top: gray solid 3px;
	}	
.border0{ border:none !important;}
.bordertop {border-top:1px solid #424242;}	

.bordertop-red {border-top:1px solid #f21818;}	.bg-4 {background-color: #e5e5e5;}	

.bg_li_1 {
	background-color:#000000;
	text-align:center;
	}

.bg_li_2 {
	background-color:#191D1C;
	text-align:center;
	}

.bg_li_3 {
	background-color:#1C6C27;
	text-align:center;
	}	

.text_slide {
	position:absolute;
	top:10%;
	width:50%;
	left:51%;
	}	

.titulo_slide{
	font-size:16px;
	color:#FFF;
	text-align:left;
	}

.text_slide{
	font-size:16px;
	color:#FFF;
	text-align:left;
	padding:0 5%;
	}	

.generic_select {
    background:url(../images/bg_select.png) no-repeat scroll right center;
    border: 1px solid #555555;
	border-radius:4px;
    /*display: inline-block;*/
    height: 30px;
    margin: 0 5px;
    overflow: hidden;
    vertical-align: bottom;
    width: 223px;
    display: inline-block;
    box-sizing: border-box;

}

.generic_select select {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    border-radius: 0;
    font-size: 16px;
	color:#9d9d9d;
    height: 30px !important;
    margin-left: 0;
    outline: medium none !important;
    padding: 0 0 0 3px;
    width: 240px;
    box-sizing: border-box;
}

.text_red_input {
	display:block;
	margin:10px 0 0 55px;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	}	

.text_red_input a{		
	color:#be0d10 !important;
	}	
.buttons-below	{
	overflow:hidden;
	float:right;
	}	

.button-generic {
	background-color:#c10d11;
	color:#FFFFFF;
	border:none;
	border-radius: 4px;
	font-size:16px;
	line-height:40px;
	float:left;
	margin-right:10px;
	padding:0 15px;
	}	

.text_privacidad, .text_privacidad a {
	color:#FFFFFF;
	font-size:12px;
	}

.main_title {
	font-size:20px;
	color:#3c3c3c;
	margin:30px 0;
	display:table;
	}	

.main_title_icon {
	display:table-cell;
    width:63px;
	height:63px; 
	}

.main_title_text {
	display:table-cell;
	vertical-align:middle;
	padding-left:20px;
	}	

.main_info_lt {
	display:inline-block;
	font-size:14px;
	color:#B2B2B2;
	}

.main_info_rg {
	display:inline-block;
	color:#929292;
	}	

.container_white .main_info_lt {
	display:inline-block;
	font-size:14px;
	color:#000000;
	}	

.container_white  .main_info_rg {
	display:inline-block;
	color:#626262;
	}	
.title_generic {
	font-size:20px;
	margin:30px 0;
}		
.separator {
	height:1px;
	width:100%;
	background-color:#a6a6a6;
	margin:20px 0;
}
.main_table{overflow-x:auto;}
.table_info.table-info-seg {
    white-space: normal;
}
.table_info {
	border: solid #D9D9D9;
	border-width: 0px 1px 1px 0px;
	font-size: 12px;
	white-space:nowrap;
	}

.table_info td {
	border: solid #D9D9D9;
	border-width: 1px 0 0 1px;
	padding:8px 5px;
	}	

.table_info thead tr td {
	font-size: 14px;    
	color: #3c3c3c;
    background-color: #E3E3E3;
    border: solid #ffffff;
    border-width: 1px 0 0 1px;
    padding: 8px 5px;
	text-transform: inherit !important
	}		

.table_info	a {
	color: #f21818;
	font-size: 12px;	
	}

input[type=checkbox], input[type=radio] {
	visibility: hidden;
}	

.content_checkboxes input[type="checkbox"], .content_checkboxes input[type="radio"] {
    display: none;
}
.content_checkboxes input[type="checkbox"] + label span {
    background: url(../images/checbox.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    padding-left: 30px;
    white-space: nowrap;
	font-weight:normal;
}

.content_checkboxes input[type="radio"] + label span {
    background: url(../images/radio.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    padding-left: 30px;
	font-weight:normal;
}
.content_checkboxes input[type="checkbox"]:checked + label span{
    background: url(../images/checbox.png) no-repeat scroll left -20px rgba(0, 0, 0, 0);
}

.content_checkboxes input[type="radio"]:checked + label span {
    background: url(../images/radio.png) no-repeat scroll left -20px rgba(0, 0, 0, 0);
}


.content_checkboxes input[type="checkbox"] + label div, .content_checkboxes input[type="radio"] + label div{    cursor: pointer;
    display: inline-block;
    margin:0;
    vertical-align: top;
    width: 80%;
}

.table_info input{
	border:0px solid #d9d9d9;
	background-color:#fff;
	width:100%;
	min-width: 85px;
	padding: 0 10px;
	border-radius: 0px;
	}

.table_enfer td{
	vertical-align:middle;
	}

.table_enfer .content_checkboxes{
	margin-bottom:10px;
	}

.box_huella	{
	border:1px solid #CCC;
	width:130px;
	min-height:150px;
	border-radius:8px;
	float: right;	
	}
.form-table1{
	white-space: normal !important;
}

@media (min-width: 768px) {
.titulo_slide1{
	font-size:30px;
	color:#FFF;
	text-align:left;
	}
.text_slide{
	font-size:20px;
	color:#FFF;
	text-align:left;
	}	
.titulo_login {
	font-size:30px;
	}
.title_generic {font-size:26px;}	
	

 }	